node_modules
dist
coverage
.env
keys/*

media/temp/*
media/ytSongs/*
media/ytVideos/*

src/Handlers/Copypasta/Copypastas.json

credentials.json

src/Handlers/Wordle/games.json
src/Handlers/Reveal/revealDB.json
src/Handlers/Copypasta/Copypastas.json
ytCookies.json
conversation